<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styles.css">
    <title>Index</title>
</head>
    <div class="creditos">
        <h1>Hecho Por:</h1>
        <h3>Simon Suken y Alex Droblas</h3>

        
        <a href='@Url.Action("index")'><button type="button">volver</button></a>
    </div>
</html>