@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styles.css">
    <title>Index</title>
</head>
    <div class="index">
        <h1>Mob Of The Dead</h1>

        <p>Preparado para volver a recordad el mundo de Call Of Duty zombies. Esta sala de escape inspirada 
        en el famoso mapa de Mob Of The Dead donde tu mision va a ser escapar realizando todos los puzzles de las distintas salas</p>
        
        <a href='@Url.Action("Comenzar")'><button type="button">Escapar</button></a>
        <a href='@Url.Action("tutorial")'><button type="button">Tutorial</button></a>
        <a href='@Url.Action("creditos")'><button type="button">Creditos</button></a>
    </div>
</html>

