<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styles.css">
    <title>cuarto</title>
</head>
<body>
    <div class="cuarta">
        <h1>El Avion</h1>
    </div>
</body>
</html>
