<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="style/styles.css">
    <title>Segunda Sala</title>
</head>

    <div class="segundo">
        <h1>La Llave</h1>

        <p>Felicidades lograste salir de la celda, sin embargo este no es el fin. 
        Entrasete sigilosamente a la oficina del alacaide para buscar la llave del bloque de celdas, pero te diste cuenta que hay que ingresar una contraseña para obtenerla. </p>
    </div>

    <div class="acertijos">
        <li>1. Tu casa desde que cometiste el crimen.</li>
        <li>2. Lo que estás intentando hacer…</li>
        <li>3. Lugar donde criminales como tu se pudrirán tras la muerte.</li>
        <li>4. Donde recibiste la condena que hoy pagas.</li>
        <li>5. El obstáculo frente a tus ojos.</li>
        <li>6. El lugar donde iniciar y terminar el dia desde que cometiste el crimen.</li>
        <li>7. En donde te encuentras ahora mismo.</li>
    </div>

</html>
