<head>
    <link rel="stylesheet" href="style/styles.css">
</head>

<div class="titulo1">
 <h1>La Celda</h1>
</div>

<div class="textoIntro">
<p>Sos un prisionero de alcatraz y estas encerrado en tu celda y tras varios meses 
pensandolo decidiste escaparte esta noche. Cuando las luces esten apagadas y suceda el cambio de guardias decidiste empezar con el plan.</p>
</div>


