<head>
    <link rel="stylesheet" href="style/styles.css">
</head>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primera Sala</title>
</head>
<body>

<div class="primero">
 <h1>La Celda</h1>
</div>

<div class="textoIntro">
<p>Sos un prisionero de alcatraz y estas encerrado en tu celda y tras varios meses 
pensandolo decidiste escaparte esta noche. Cuando las luces esten apagadas y suceda el cambio de guardias decidiste empezar con el plan.</p>
</div>
 
</body>
</html>



